/* You can add global styles to this file, and also import other style files */
::ng-deep .red-snackbar {
   
    --mdc-snackbar-container-color:gold;
    --mdc-snackbar-supporting-text-color:green;
   
   
  }

  ::ng-deep .red-snackbar button {
    background-color: green;
  
 }
