<table class="table table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>User_id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Option</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempdata of list">
            <td>{{tempdata.id}}</td>
            <td>{{tempdata.userId}}</td>
            <td>{{tempdata.title}}</td>
            <td>{{tempdata.body}}</td>
            <td>
                <button mat-raised-button color="warn" (click)="delete(tempdata.id)">
                    <mat-icon>delete</mat-icon>Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>